<% include ../partials/boilerplate %>


<div class="page2">

<form class="login" method='POST' action='/auth/login'>

<div class='secondPage'>

   <!--<label><b>Username</b></label>-->
  <div class="username2"><input name='username' type='text' placeholder='Enter Username' required /></div>
  <!--<label><b>Password</b></label>-->
  <div class="pass2"><input name='password' type='password' placeholder='Enter Password' required /></div>
   <button class="button2" type="submit">Login</button>
  <!--<input type='submit' value='Log in!' />-->

</div>
</form>

</div>



<% include ../partials/end %>


