
<% include ../partials/boilerplate %>


<div class="page2">


<form class="login" method='POST' action='/auth/register'>

<div class='secondPage'>

  <div class="username2"><input name='username' type='text' placeholder='username' required /></div>
   <div class="pass2"><input name='password' type='password' placeholder='password' required /></div>
 <button class="button2" type="submit">Register</button>
</div>
</form>

</div>


<% include ../partials/end %>