<!--This file is the home page and it is comming from the ejsview -->
<!--this is what you see in the browser-->
<% include ./partials/boilerplate %>
 <p>UNIFINDER</p>
<div class="firstPage">
   
<div class="login"><a href='/auth/login'>Login</a></div>
<div class="register"><a href='/auth/register'>Register</a></div>

</div>
<!--<a href='/university'>Get University</a>-->
<% include ./partials/end %>
