<!--This file is the home page and it is comming from the ejsview -->
<% include ./partials/boilerplate %>
<a href='/auth/login'>Login</a>
<a href='/auth/register'>Register</a>
<!--<a href='/university'>Get University</a>-->
<% include ./partials/end %>
