<% include ../partials/boilerplate %>
<!--
<input>Country: <%= university.country %></p>
<p>Name: <%= university.name %></p>
<p>Website: <%= university.website %></p>-->

<% include ../partials/end %>