<% include ../partials/boilerplate %>
<p></p>



 <div class="university">

<% data.forEach(d => { %>
<div class="info3">
    <h1><%= d.name %></h1>
    <h3><%= d.country %></h3>
    <h3><a href><%= d.webpage_url %></a></h3>

   <div class="notes3page"><a href="/notes/<%= d.id %>">Learn more </a></div>
</div>
<% }) %>

 </div>

<% include ../partials/end %>