<% include ../partials/boilerplate %>

<h1>Welcome to notes-index page </h1>
  
<form method='POST' action='/uni/index'>
  <input type='text' name='university' placeholder='university name' />
  <input type='text' name='country' placeholder='university country' />

  <input type='submit' value='Submit' />
</form>





<a href='../auth/logout'>Logout</a>

<script src='/src/main.js'></script>



<% include ../partials/end %>