<% include ../partials/boilerplate %>

<%= data.description %>

<form method='POST' action='/notes/<%= university_id %>'>
  <input type='text' name='description' value='<%= data[0].description %>' />
  <input type='submit' value='Update it!' />
</form>

<% include ../partials/end %>