<% include ../partials/boilerplate %>

<h1>Welcome to notes-index page </h1>
  
<form method='POST' action='/uni/index'>
  <input type='text' name='university' placeholder='university name' />
  <input type='text' name='country' placeholder='university country' />

  <input type='submit' value='Submit' />
</form>
<% data.forEach(note => { %>
     <h2><% note.description %></h2>
    <span class='not-done' data-id='<%= note.id %>'>Not done!</span>
  <a href='/auth/notes/<%= note.id %>'>Link</a>
<% }) %>




<a href='../auth/logout'>Logout</a>

<script src='/src/main.js'></script>



<% include ../partials/end %>