<% include ../partials/boilerplate %>

<form method='POST' action='/auth/notes/<%= note.id %>?_method=PUT'>
  <input type='text' name='description' value='<%= note.description %>' />
  <input type='submit' value='Update it!' />
</form>

<% include ../partials/end %>