
<% include ../partials/boilerplate %>

<form method='POST' action='/notess'>
  <input type='text' name='title' placeholder='title' />
  <input type='text' name='description' placeholder='description' />
  <input type='text' name='category' placeholder='category' />
  <input type='submit' value='Add it!' />
</form>

<% include ../partials/end %>
