<% include ../partials/boilerplate %>

<form method='POST' action='/notes/<%= data.id %>?_method=PUT'>
  <input type='text' name='description' value='<%= data.description %>' />
  <input type='submit' value='Update it!' />
</form>

<% include ../partials/end %>