
<% include ../partials/boilerplate %>

<form method='POST' action='/notes/'>
  <input type='text' name='description' placeholder='description' />
  <input type='submit' value='Add it!' />
</form>
 <a href="/uni/index">Go back </a>

<% include ../partials/end %>
<!--//zashto ne mi pozvolqva da se vyrna na prednat astranica -->
<!--I need tofix the module in order to can procss the add request and see it on the screen-->