<% include ../partials/boilerplate %>

<%= data.description %>
<div class="notesEdit">
  <h1>UNIFINDER</h1>
  <form method='POST' action='/notes/<%= university_id %>'>
  <div class="lastpage">

      <input type='text' name='description' value='<%= data[0].description %>' />
      <input type='submit' value='Update it!' />

  </div>
  </form>
</div>
<% include ../partials/end %>